.card-wrapper {
    width: 1025px;
    margin-inline: auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding-block: 50px;
    padding-inline: 20px;
    border-radius: 10px;
}

.card-wrapper h5{
    margin-bottom: 15px;
    font-size: 1.7rem;
}

.card-wrapper p {
    font-size: 1.1rem;
    color: gray;
}