*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 27, 48);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* font-size: 1.2rem; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#card-container {
    max-width: 650px;
    margin: 5px;
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px white;
    /* color: white; */
}

h1, div:not(#root, #card-container){
    margin-bottom: 25px;
}

a {
    color: blue;
}

@media screen and (min-width:800px){
    body {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:800px){
    body {
        font-size: 1.1rem;
    }
}